@import url(https://fonts.googleapis.com/css?family=Anton:regular);

.about_container {
  margin: auto;
  margin-top: 30%;
  margin-left: 30vw;
  /* width: 190rem; */
}
.header_section {
  color: #ff9e9a;
  font-size: 1.3rem;
  border-bottom: 1px solid #ff9e9a;
  width: 20vw;
  font-family: "Anton";
  letter-spacing: 2px;
  height: 6vh;
}
.about_context {
  width: 50rem;
  margin-top: 4vh;
  color: rgb(230, 227, 227);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}
.profile_img {
  width: 17rem;
  height: 17rem;
  position: relative;
}

.lang_section {
  color: #fcaf51;
  list-style-type: square;
}
