.contact_container {
  margin-top: 20%;
  margin-left: 33%;
}
.contact_header {
  color: #ff9e9a;
  font-size: 1.2rem;
  font-family: "Anton";
  letter-spacing: 2px;
  border-bottom: 1px solid #ff9e9a;
  width: 24vw;
  height: 6vh;
  text-align: center;
}
.details > p {
  color: white;
  margin: 0;
  padding: 0;
}
.details {
  align-items: center;
  justify-content: flex-start;

  margin-top: 10vh;
  display: flex;
  gap: 7vh;
  /* width: 10vw; */
  height: 5vh;
  color: white;
  position: relative;
}
.details > svg {
  width: 2rem;
  height: 2rem;
}
.backtotop {
  position: absolute;
  /* width: 10vw; */
  max-width: fit-content;
  height: 5vh;
  top: 10vh;
  left: 14vh;
  border-radius: 8px;
  border: 1px solid white;
  background-color: #ff9e9a;
  font-family: "Roboto Mono";
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 600ms;
  font-size: 1.5vh;
  padding: 10px;
}
.backtotop:hover {
  background: #fcaf51;
  transition: all 600ms;
  cursor: pointer;
}
