body {
  margin: 0;
  font-family: "Jost", "Roboto Mono", monospace, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2eafab;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
/* 
 purple #A073FF
 cyan #65D1FE
 pink #FE60BA 
 grey #1E2730
 white #FDFDFD*/

/* dark og : #F37703
 lighter : #F48902
 lighter: #F39F11
 lighter : #F4AA07
 white : #F3EFE8
 green : #599544 */
